<div>
    <define flex>
        <div style="display: flex">{{ html }}</div>
    </define>

    <define flex-center>
        <div style="display: flex; justify-content: center; align-items: center;">{{ html }}</div>
    </define>

    <define flex-expand>
        <div style="width: 100%">{{ html }}</div>
    </define>

    <define wrapper>
        <div class="wrapper">{{ html }}</div>
    </define>

    <define wrapped>
        <div class="wrapped">{{ html }}</div>
    </define>

    <define href>
        <a
            onclick="fadeOut();setTimeout(() => { document.location.pathname = '{{to}}' }, 200)"
            style="cursor:pointer;">
            {{html}}
        </a>
    </define>

    <style>
        .wrapper {
            padding-left: calc((100vw - 800px) / 2);
            padding-right: calc((100vw - 800px) / 2);
        }

        .wrapped {
            width: 800px;
            margin: 0 50px;
        }
    </style>
</div>