<div>
    <div>{{ html }}</div>

    <flex>
        <href to={{button1href}} class="button primary">{ button1 }</href>
        <href to={{button2href}} class="button">{ button2 }</href>
    </flex>

    <style scoped>
        #this {
            position: relative;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            width: 100%;
            height: calc(100vh - 200px);

            text-align: center;
        }

        #this+* {
            margin-top: 10px
        }
        
        h1 {
            font-weight: 800;
            font-size: 5em;

            margin-bottom: 0;
        }

        h2 {
            width: 600px;

            font-weight: 400;
            font-size: 1.3em;

            margin: 0 auto;
        }
    </style>
</div>